/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

  :root .theme_light {
  --main-font: 'IBM Plex mono';
  --accent-color: #353430;
  --accent-shadow-color: #ff0070;
  --text-shadow-color: #FF8DCB;
  --background-text-color:#FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-text-color: #353430;
  --main-text-color: #353430;
  --padding: 20px;
  --hover-outline-color: rgba(50, 49, 45, 0.40);
  --background-image: url("../images/cover-image-light.png");
  }

  .page.theme_light {
  --main-font: 'IBM Plex mono';
  --accent-color: #353430;
  --accent-shadow-color: #ff0070;
  --text-shadow-color: #FF8DCB;
  --background-text-color:#FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-text-color: #353430;
  --main-text-color: #353430;
  --padding: 20px;
  --hover-outline-color: rgba(50, 49, 45, 0.40);
  --background-image: url("../images/cover-image-light.png");
  }
  
  @media (prefers-color-scheme: light) {

    :root {
      --main-font: 'IBM Plex mono';
      --accent-color: #353430;
      --accent-shadow-color: #ff0070;
      --text-shadow-color: #FF8DCB;
      --background-text-color:#FF8DCB;
      --title-color: #FFC2E6;
      --subtitle-text-color: #353430;
      --main-text-color: #353430;
      --padding: 20px;
      --hover-outline-color: rgba(50, 49, 45, 0.40);
      --background-image: url("../images/cover-image-light.png");
    }

    .header__decorated-element {
      display: none;
  }
    
  }

